
<div  class="card-header-info" mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <div class="row" cdkDragHandle>
        <div>Add Post</div>
        <div align="right">
            <mat-icon class="maticonbutton" (click)="onClose()">close</mat-icon>
        </div>
    </div>
</div>
<form #f="ngForm"  [formGroup]="addpostform" (ngSubmit)="onSubmit(f)">
    <mat-dialog-content><br/>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Choose a post date</mat-label>
                <input required matInput [matDatepicker]="picker" formControlName="datePosted">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              &nbsp;&nbsp;

            <mat-form-field  appearance="outline" class="col">
                <mat-label>Title</mat-label>
                <input class="text-capitalize" matInput placeholder="Title"
                    formControlName="title">
            </mat-form-field>
        </div>
        <div class="row"> 
            <mat-form-field  appearance="outline" class="col">
                <mat-label>Cotegory</mat-label>
                <input class="text-capitalize" matInput placeholder="Category"
                    formControlName="category">
                
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <div class="mat-dialog-actions">
        <div class="col text-right">
            <button mat-flat-button color="primary"  type="submit" [disabled]="addpostform.invalid">Submit</button>
            <button mat-flat-button color="accent" (click)="onReset()"  type="reset">Reset</button>

        </div>
    </div>
</form>
